# Tu Avec marketplace environment template
PORT=10000
NODE_ENV=production
MONGODB_URI=mongodb+srv://tuavec_admin:RIDNUeb5ypn9KTyB@tuavec-db.9sannfw.mongodb.net/tuavec?retryWrites=true&w=majority&appName=tuavec-db
MERCHANT_TARGET=10
JWT_SECRET=VMoVXDdezVgDca0zKPlc8hUu
